<table class="product-chart">
  <tr class=" product-chart__unit">
    <td>cm</td>
    <td>inch</td>
    <td>US</td>
    <td>EU</td>
  </tr>
  <tr class="product-chart__measures">
    <td>0-2</td>
    <td>2-4</td>
    <td>4-6</td>
    <td>6-8</td>
  </tr>
</table>
