<table class="product-chart">
  <tr class=" product-chart__unit">
    <td>mm</td>
    <td>inches</td>
    <td style="border-top: 4px solid #4eb5bb; border-right: 4px solid #4eb5bb; border-left: 4px solid #4eb5bb">US</td>
    <td>EU</td>
  </tr>
  <tr class="product-chart__measures">
    <td>21 - 24.5</td>
    <td>8.5 - 9.5</td>
    <td style="border-bottom: 4px solid #4eb5bb; border-right: 4px solid #4eb5bb; border-left: 4px solid #4eb5bb">4 - 8</td>
    <td>33.5 - 38.5</td>
  </tr>
</table>
