<table class="product-chart">
  <tr class=" product-chart__unit">
    <td>mm</td>
    <td>inches</td>
    <td style="border-top: 4px solid #4eb5bb; border-right: 4px solid #4eb5bb; border-left: 4px solid #4eb5bb">US</td>
    <td>EU</td>
  </tr>
  <tr class="product-chart__measures">
    <td>25 - 30</td>
    <td>9.5 - 11.5</td>
    <td style="border-bottom: 4px solid #4eb5bb; border-right: 4px solid #4eb5bb; border-left: 4px solid #4eb5bb">7 - 12</td>
    <td>39.5 - 45.5</td>
  </tr>
</table>
