<table class="product-chart">
  <tr class=" product-chart__unit">
    <td>cm</td>
    <td>inch</td>
    <td>US</td>
    <td>EU</td>
  </tr>
  <tr class="product-chart__measures">
    <td>0-5</td>
    <td>5-10</td>
    <td>10-15</td>
    <td>15-20</td>
  </tr>
</table>
